#v-alert-resource {
    border: 0;
}
#v-alert-resource .vAlert {
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    position: relative !important;
    margin-left: 70px !important;
    padding: 10px !important;
}

#v-alert-resource .alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

#v-alert-resource .alert-success > a, #v-alert-resource .alert-success > span {
    text-decoration: none !important;
    color: #3c763d !important;
}

#v-alert-resource .alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}

#v-alert-resource .alert-warning > a, #v-alert-resource .alert-warning > span {
    text-decoration: none !important;
    color: #8a6d3b !important;
}

#v-alert-resource  .alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

#v-alert-resource .alert-danger > a, #v-alert-resource .alert-danger > span {
    text-decoration: none !important;
    color: #a94442 !important;
}

#v-alert-resource .alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

#v-alert-resource .alert-info > a, #v-alert-resource .alert-info > span {
    text-decoration: none !important;
    color: #31708f !important;
}

.notification-display {
    position: fixed;
    min-width: 100px;
    width: auto !important;
    top: 10px;
    right: 10px;
    z-index: 100000 !important;
}

#v-alert-resource .pull-right {
    float: right !important;
}
